<!DOCTYPE html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>FoodLog</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="FoodLog, an easy way to track what you eat daily.">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <link href="css/style.min.css" rel="stylesheet">
    <script src="js/vendor/modernizr/modernizr.js"></script>
  </head>
  <body>
  <div class="container">
    <header class="header" role="banner">
      <h1>FoodLog</h1>
      <h2>track what you eat</h2>
    </header>
    <ol id="week">
    </ol>
    <footer class="footer" role="contentinfo">
    </footer>
  </div>

  <script id="foodItem-template" type="text/template">
    <div class="item">  
      <input type="text" class="edit">
      <label><%= title %></label>
      <button class="destroy btn">x</button>
    </div>
    <input class="edit" value="<%- title %>">
  </script>

  <script id="day-template" type="text/template">
    <h2><%= date %></h2>
    <div class="inner-wrap">
      <input type="text">
      <ul class="entries">
      </ul>
    </div>
  </script>
  
  <script src="js/vendor/jquery/jquery.js"></script>
  <script src="js/vendor/underscore/underscore.js"></script>
  <script src="js/vendor/backbone/backbone.js"></script>
  <script src="js/vendor/backbone-relational/backbone-relational.js"></script>
  <script src="js/foodlog.min.js"></script>
  </body>
</html>
